html {
    min-height: 100%;
}

body {
  background-color: #333456;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
p {
  text-align: center;
}

.bx:hover,.bx:focus{
  filter: contrast(200%);
  outline: none;
}


.maintext {
  color: #f4abc4;
  text-align: center;
  margin: 20px auto auto;
  font-family: 'Roboto';
  font-weight: 100;

}
.maindiv {
align-items: center;
}

.bx
{
    margin:150px auto auto;
}

.pressed{
  animation-name: ops;
  animation-duration: 2s;
  animation-iteration-count: 1;
}


@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Thin.ttf) format('truetype');
  font-style: normal;
  font-weight: 100;
}

@keyframes ops {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
